mySqlJaas{
         org.c4c.jaas.mysql.MySqlLoginModule required
                                  debug="true"
                                  cache="enable"
                                  userHome="${user.home}"
                                  appHome = "${user.home}${/}app"
                                  db_driver ="com.mysql.cj.jdbc.Driver"
                                  db_url="jdbc:mysql://192.168.56.102:3306/user_accounts"
                                  db_user="myuser"
                                  db_passwd="Password$4";
};